.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkgrey;
  max-width: 600px;
  text-align: center;
}

.nav-down {
  bottom: 100px;
}

.add-task-button {
  margin: 0 auto 20px auto;
  width: 230px;
  height: 36px;
}

.show-filters {
  height: 36px;
  float: right;
  margin-right: 10px;
}