.medium{
  background-color: rgba(255, 207, 0, 0.2);
}

.low{
  background-color: rgba(67, 255, 0, 0.2);
}

.high{
  background-color: rgba(255, 0, 0, 0.2);
}

.true {
  color: #aaa;
}

.task {
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.buttons {
  position: relative;
}

.edit-button {
  font-size: 1em;
  height: 30px;
}

.delete-button {
  font-size: 1em;
  height: 30px;
  width: 30px;
}

.done-checkbox {
  position: absolute;
  margin: 0;
  left: -30px;
  height: 31px;
  width: 31px;
  background-color: #eee;
}

.done-checkbox:hover {
  cursor: pointer;
}