.nav-panel {
    position: fixed;
    top: 0px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: darkgrey;
    max-width: 600px;
    text-align: center;
    transition: 0.3s;
}

.hideuser {
    top: 0px;
    transition: 0.3s;
}

.photo {
    height: 100px;
    width: 100px;
    background-color: red;
}