.activeButtonMedium{
  background-color: #FFE37B;
}

.activeButtonLow{
  background-color: #9FFF82;
}

.activeButtonHigh{
  background-color: #FF9595;
}

.priority-button {
  width: 40px;
  height: 40px;
  margin: 0 5px
}