ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 5px 0;
}

.banner {
  height: calc(100vh - 124px);
  margin-top: 40px;
  text-align: center;
  background-color: #9FFF82;
}

.banner > h1 {
  padding-top: 30px;
}

.task-list {
  display: block;
  margin: 0 auto;
  padding-top: 50px;
}

.task-list > h3 {
  text-align: center;
}

.no-result {
  text-align: center;
}



.logged-in > button {
  height: 24px;
}