.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkgrey;
  max-width: 600px;
  text-align: center;
  transition: 0.3s;
}

.hide {
  bottom: -154px;
  transition: 0.3s;
}

.add-task-button {
  margin: 0 auto 20px auto;
  width: 150px;
  height: 36px;
}

.show-filters {
  height: 36px;
  width: 68px;
  float: right;
  margin-right: 10px;
}

.clear-filters-button {
  height: 36px;
  width: 68px;
  float: left;
  margin-left: 10px;
}

.plus {
  font-size: 1.6em;
  margin: 0;
  }

