.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkgrey;
  max-width: 600px;
  text-align: center;
  transition: 0.3s;
}

.hide {
  bottom: -149px;
  transition: 0.3s;
}

.add-task-button {
  margin: 0 auto 16px auto;
  width: 150px;
  height: 36px;
  border-radius: 4px;
}

.show-filters {
  height: 36px;
  width: 64px;
  float: right;
  margin-right: 10px;
  border-radius: 4px;
}

.clear-filters-button {
  height: 36px;
  width: 64px;
  float: left;
  margin-left: 10px;
  border-radius: 4px;
}

button.clear-filters-button:disabled {
  background-color: #6b6c68 !important;
  color: #B9B9B9 !important;
  cursor: not-allowed;
}

.plus {
  font-size: 1.6em;
  margin: 0;
}