.wrn{
    background-color: rgb(214, 34, 97);
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    opacity: .8;
    border-radius: 4px;
}

.container{
    width: 80%;
    height: 20px;
}

.tskToday{
    background-color: orange;
    color: #182aff;
    text-align: center;
    font-size: 12px;
    padding: 2px;
    opacity: .8;
    border-radius: 4px;
}