.activeButtonMedium{
  background:   #ff8400;
  background:    -webkit-linear-gradient(#ffd14b, #ff8400);
  background:    linear-gradient(#ffd14b, #ff8400);
}

.activeButtonLow{
  background:   #00bb18;
  background:    -webkit-linear-gradient(#45ff53, #00bb18);
  background:    linear-gradient(#45ff53, #00bb18);
}

.activeButtonHigh{
  background:     #ff1493;
  background:    -webkit-linear-gradient(#ff63cd, #ff1493);
  background:    linear-gradient(#ff63cd, #ff1493);
}

.priority-button {
  width: 40px;
  height: 40px;
  margin: 0 5px;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
}