.task-app {
  margin-bottom: 50px;
}

.nav-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: darkgrey;
  max-width: 600px;
  text-align: center;
}

.nav-bottom > button {
  width: 88px;
  margin: 0 5px;
}
