.medium {
  background-color: rgba(255, 207, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(175, 175, 175, 1);
}

.low {
  background-color: rgba(117, 255, 89, 0.3);
  box-shadow: 0 2px 5px 0 rgba(175, 175, 175, 1);
}

.high {
  background-color: rgba(255, 0, 0, 0.7);
  box-shadow: 0 2px 5px 0 rgba(175, 175, 175, 1);
}

.true {
  color: #aaa !important;
  background-color: #eee !important;
}

.task {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.titles {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.description {
  padding: 5px;
  font-size: 1em;
  width: 360px;
  white-space: normal;
}

.wrnToday {
  background-color: #ffcf00;
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  opacity: .8;
  border-radius: 2px;
  width: 78%;
  height: 16px;
}

.wrn {
  background-color: #333;
  color: #ffcf00;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  opacity: .8;
  border-radius: 2px;
  width: 78%;
  height: 16px;
}

.progress-bar {
  height: 20px;
}

.buttons {
  position: relative;
  white-space: nowrap;
}

.edit-button, .delete-button, .desc-button {
  background: none;
  border: none;
  font-size: 1.2rem;
  width: 2rem;
  margin: 0;
  color: #444;
  transition: 0.3s;
}
.edit-button:hover, .delete-button:hover, .desc-button:hover {
  color: #000;
  transition: 0.3s;
}

.done-checkbox {
  position: relative;
  margin-right: 1rem;
  font-size: 1.5rem;
  width: 1.8rem;
  height: 1.8rem;
  background: none;
  border: none;
  color: #444;
  transition: 0.3s;
}
.done-checkbox:hover {
  color: #000;
  transition: 0.3s;
}

.cycled-mode {
  border-left: 5px solid #d62261;
  padding-left: 10px;
}

@media (min-width: 375px) {
  .titles {
    width: 210px;
  }
}

@media (min-width: 414px) {
  .titles {
    width: 250px;
  }
  p.description {
    width: 230px;
  }
  .edit-button, .delete-button, .desc-button {
    font-size: 1.5rem;
    width: 2.2rem;
    height: 2rem;
  }
  .done-checkbox {
    font-size: 2rem;
    width: 2.4rem;
    height: 2.4rem;
  }
}

@media (min-width: 600px) {
  .titles {
    width: 420px;
  }
  p.description {
    width: 360px;
  }
}

@media (min-width: 320px) {
  p.description {
    width: 145px;
  }
}

