.medium {
  background-color: rgba(255, 207, 0, 0.5);
  box-shadow: 0 2px 5px 0 rgba(191, 160, 38, 1);
}

.low {
  background-color: rgba(117, 255, 89, 0.3);
  box-shadow: 0 2px 5px 0 rgba(70, 181, 45, 1);
}

.high {
  background-color: rgba(255, 0, 0, 0.7);
  box-shadow: 0 2px 5px 0 rgba(191, 11, 11, 1);
}

.true {
  color: #aaa;
}

.task {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.titles {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.description {
  padding: 5px;
  font-size: 1em;
  width: 360px;
  white-space: normal;
}

.buttons {
  position: relative;
  white-space: nowrap;
}

.wrnToday {
  background-color: #ffcf00;
  color: #000000;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  opacity: .8;
  border-radius: 2px;
  width: 78%;
}

.wrn {
  background-color: #000000;
  color: #ffcf00;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  opacity: .8;
  border-radius: 2px;
  width: 78%;
}

.edit-button {
  height: 30px;
  width: 30px;
}

.delete-button {
  height: 30px;
  width: 30px;
}

.done-checkbox {
  position: relative;
  margin: 0;
  height: 30px;
  width: 30px;
  background-color: #eee;
}

.done-checkbox:hover {
  cursor: pointer;
}

.show-desc, .delete-button, .edit-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.cycled-mode {
  border-left: 5px solid #d62261;
  padding-left: 10px;
}

@media (min-width: 375px) {
  .titles {
    width: 210px;
  }
}

@media (min-width: 414px) {
  .titles {
    width: 250px;
  }
}

@media (min-width: 600px) {
  .titles {
    width: 420px;
  }
}

@media (min-width: 319px) {
  p.description {
    width: 145px;

  }
}

@media (min-width: 414px) {
  p.description {
    width: 230px;

  }
}

@media (min-width: 600px) {
  p.description {
    width: 360px;

  }
}