.medium{
  background-color: rgba(255, 207, 0, 0.2);
}

.low{
  background-color: rgba(67, 255, 0, 0.2);
}

.high{
  background-color: rgba(255, 0, 0, 0.2);
}

.true {
  color: #aaa;
}

.task {
  margin: 0;
  padding: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.titles {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.description {
  width: 360px;
  word-break: break-all;
}

.buttons {
  position: relative;
  white-space: nowrap;
}

.wrnToday{
  background-color: #ee006a;
  color: #0fff00;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  opacity: .8;
  border-radius: 2px;
  width: 78%;
}

.wrn{
  background-color: #000000;
  color: #ff0003;
  text-align: center;
  font-size: 12px;
  padding: 2px;
  opacity: .8;
  border-radius: 2px;
  width: 78%;
}




.edit-button {
  font-size: 1em;
  height: 30px;
}

.delete-button {
  font-size: 1em;
  height: 30px;
  width: 30px;
}

.done-checkbox {
  position: absolute;
  margin: 0;
  left: -30px;
  height: 31px;
  width: 31px;
  background-color: #eee;
}

.done-checkbox:hover {
  cursor: pointer;
}

@media (min-width: 375px) {
  .titles {
    width: 210px;
  }
}
@media (min-width: 414px) {
  .titles {
    width: 250px;
  }
}
@media (min-width: 600px) {
  .titles {
    width: 420px;
  }
}
