input {
  display: block;
  margin: 5px auto;
  height: 40px;
  width:  300px;
  border: 1px solid black;
  font-size: 1.2rem;
}

.sign-button {
  font-size: 1.1rem;
  width: 130px;
  height: 40px;
}

.signup-text {
  margin-top: 30px;
}