.dueday-filtering {
  margin-top: 10px;
}

.filtering-text {
  color: white;
}

.priority-sorting {
  margin-top: 10px;
}

.done-filtering {
  margin-top: 10px;
}

button {
  width: 52px;
  height: 24px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
}

.butt {
  font-size: 0.9rem;
  width: 110px;
  height: 30px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}

.clicked {
  background: white;
  border: 1px solid white;
  padding:       2px 5px;
  color:         #d62261;
  display:       inline-block;
  /*font:          normal 400 13px/1 "Calibri", sans-serif;*/
  text-align:    center;
  border-radius: 5px;

}

.smallFilterButton {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}

.calendar-arrow {
  rotation: 90deg;
}

@media all and (max-width: 414px) {
  .done-sorting-text,
  .dueday-sorting-text,
  .priority-sorting-text {
    display: none
  }
}