.dueday-filtering {
  margin-top: 10px;
}

.priority-sorting {
  margin-top: 10px;
}

.done-filtering {
  margin-top: 10px;
}

button {
  width: 60px;
  height: 24px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
}

.butt {
  width: 95px;
}

.clicked {
  background-color: deeppink;
  background: #ff1493;
  background:    -webkit-linear-gradient(#ff63cd, #ff1493);
  background:    linear-gradient(#ff63cd, #ff1493);
  border-radius: 2px;
  padding:       2px 5px;
  color:          #fff;
  display:       inline-block;
  font:          normal 400 13px/1 "Calibri", sans-serif;
  text-align:    center;
  border:         none;
}

@media all and (max-width: 414px) {
  .done-sorting-text,
  .dueday-sorting-text,
  .priority-sorting-text {
    display: none
  }
}