.dueday-filtering, .done-filtering, .priority-sorting {
  margin-top: 10px;
  float: right;
}

.filtering-text {
  color: white;
  margin-right: 5px;
}

.filter-section {
  width: 380px;
  margin: 0 auto;
  padding-right: 30px;
}

button {
  width: 60px;
  height: 24px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
}

.butt {
  font-size: 0.9rem;
  width: 116px;
  height: 30px;
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}

.clicked {
  background: white;
  border: 1px solid white;
  padding: 2px 5px;
  color: #d62261;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.smallFilterButton {
  background: none;
  border: 1px solid white;
  border-radius: 5px;
}

.filter-button {
  margin: 0 5px;
}

@media all and (max-width: 414px) {
  .filtering-text {
    display: none
  }
  .filter-button {
    margin: 0 10px;
  }
  .filter-section {
    padding: 0;
    width: 300px;
  }
  .dueday-filtering, .done-filtering, .priority-sorting {
    float: none;
  }
}