ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 5px 0;
}

.banner {
  height: calc(100vh - 160px);
  padding-top: 30px;
  text-align: center;
  background-color: #9FFF82;
}

.task-list {
  text-align: center;
}

.no-result {
  text-align: center;
}